@use "sass:math";
// 色
$white: #fff;
$black: #000;
$red: #f93212;
$gray: #a4a4a0;
$gray2: #99958f;
$gray3: #bcb5a8;
$gray4: #707070;
$black: #332f27;
$black2: #272625;
$black3: #222222;
$beige: #f9f2e5;
