@use "sass:math";
// 文字フォントの種類
$base-font: "Noto Sans JP", sans-serif;
$second-font: "Noto Serif JP", serif;
$third-font: "Cormorant Garamond", serif;
$fourth-font: "Roboto", sans-serif;

// 文字の太さ
$light: 200;
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 700;
